doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title #{title}
    link(rel="stylesheet", href="/css/styles.css")
    script(src="/js/main.js", defer)
  body
    header
      nav
        div.nav-container
          img(src="/images/logo.png", alt="Logo", class="logo")
          ul.nav-links
            li
              a(href="/" class=(activePage==='home' ? 'active' : '')) Accueil
            li
              a(href="/list" class=(activePage==='list' ? 'active' : '')) Liste des villes
            li
              a(href="/map" class=(activePage==='map' ? 'active' : '')) Carte
    main
      block content
